body{
	margin: 0px;
	padding: 0px;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
.container{
	max-width: 1000px;
	padding-top: 10px;
	margin: auto;
	display: flex;
	flex-direction: column;

}
@media screen and (max-width: 400px){
	body{
		font-size: 12px;
	}
	.container{
		max-width: 400px;
		
	}
}